.sitemap{
    float:left;
    margin-top: 25px;
    margin-left: 25px;
}
.sosyal {
    float: right;
    margin-top: 25px;
    right:50px;

}
.copyrights{
    text-align: center;
}
#tel{
    top:-30px;
    left:205px;
    margin-bottom: 15px;
}
#info{
    left: -20px;
    top:-5px;
}
.sosyalAndContact{
    top:-85px;
    position: relative;
}
.contact{
    font-family: Monaco;
}
#adress{
    top:-60px;
    left:480px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer{
    background-color: #cccccc;
}