
.footer {
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    bottom: 0px;


}
.forfooter{
    background-color: #e7e7e7;
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    bottom: 0px;

}

#logoAndMap {
    float: left;
}

.sitemap {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

#contactAndSocial {
    float: right;
}

.contact {
    float: right;
}

.contact ul {
    list-style-type: none;
}

.contact ul li {
    margin-top: 5px;
}

.socialnetwork {
    float: right;

}
