/*header is started*/
.navbar-default .navbar-brand {
    color: #777;
    position: relative;
    left: -30%;
}
.navbar-brand {
    height: 125px;
}

@media  only screen and  (max-width: 767px) {
    .navbar-brand {
        position: relative !important;
        left: +3% !important;
    }

}

@media  only screen and  (min-width: 199px) {
    .nav-menu{
        top: -5rem !important;
    }
}

@media  only screen and  (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        height: 150px !important;
        position: relative !important;
        left: 1rem !important;
    }
    .nav-menu{
        top: -5rem !important;
        left:7rem !important;
        font-size:12px !important;
    }
    .container>.navbar-collapse{
        height:100px !important;
    }
    .container>.navbar-collapse{
        height: 100px!important;
    }
}
@media only screen and  (min-width: 992px) and (max-width: 1199px) {
    .navbar-default .navbar-brand {
        top: 3rem !important;
    }

    .navbar-brand {
        position: relative !important;
        left: 1rem !important;
        height: 150px !important;
    }

    .nav-menu {
        top: -5rem !important;
        left: 7rem !important;
        font-size: 15px !important;
    }

}
.navbar-collapse.in {
    overflow-y: visible;

}
div#collapsable-nav.navbar-collapse.collapse.in{
    height: 200px;
}

.nav-menu {
    box-sizing: content-box;
    position: relative;
    top: 0rem;
    left: 10rem;
    padding: 10px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-decoration-style: solid;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    margin-left: 50px;
    color: rgb(90, 90, 90);

}
.navbar-default .navbar-nav > li > a:hover {/*wtf*/
    color: #c30000;
}

.nav > li > a { /*WTF*/
    position: relative;
    display: block;
    padding: 10px 10px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.list-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 100px;
}

.list-group-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: black;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: white;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: #ccc;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: white;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #464a4c;
    background-color: #eceeef;
    border-top-color: rgb(204, 204, 204);
    border-right-color: white;
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: white;
}


/*header is over*/

/* body is started */
.gallery {
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    border:50px solid #FFF;
    margin-left: auto;
    margin-right: auto;
    alignment: center;
    justify-content: center;
}
h1, h2, h3{
    position: relative;
    text-align: center;
}

.debug-box {
    padding: 0 5px 0 5px;
    text-align: center;
}
.thumbnail{
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bg-blue {
    background: #e5eff8;
}

p {
    text-align: center;
    position: relative;
    max-width: 850px;
    font-size: 20px;
    font-weight: 300;
    line-height: 34px;
    margin: 40px auto;
}
/* body is over */

/*footer is started*/

.footer {
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    bottom: 0px;


}
.forfooter{
    background-color: #e7e7e7;
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    bottom: 0px;

}

#logoAndMap {
    float: left;
}

.sitemap {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

#contactAndSocial {
    float: right;
}

.contact {
    float: right;
}

.contact ul {
    list-style-type: none;
}

.contact ul li {
    margin-top: 5px;
}

.socialnetwork {
    float: right;

}
/* footer is over */


/*logolar*/
.logo-img-lg {
    background: url("../sources/logo-lg.png") no-repeat;
    width: 400px;
    height: 132px;

}

.logo-img-md {
    background: url("../sources/logo-md.png") no-repeat;
    width: 300px;
    height: 99px;

}

.logo-img-sm {
    background: url("../sources/logo-sm.png") no-repeat;
    width: 150px;
    height: 144px;

}
.logo-img-xs {
    background: url("../sources/logo-xs.png") no-repeat;
    width: 100px;
    height: 94px;

}
