#logo-img-lg {
    background: url("logo-lg.png") no-repeat;
    width: 400px;
    height: 132px;

}

#logo-img-md {
    background: url("logo-md.png") no-repeat;
    width: 300px;
    height: 99px;

}

#logo-img-sm {
    background: url("logo-sm.png") no-repeat;
    width: 150px;
    height: 144px;

}
#logo-img-xs {
    background: url("logo-xs.png") no-repeat;
    width: 100px;
    height: 94px;

}

@media  only screen and  (max-width: 767px) {
    .navbar-brand {
        position: relative !important;
        left: +3% !important;
    }

}

@media  only screen and  (min-width: 199px) {
    .nav-menu{
        top: -5rem !important;
    }
}

@media  only screen and  (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        height: 150px !important;
        position: relative !important;
        left: 1rem !important;
    }
    .nav-menu{
        top: -5rem !important;
        left:7rem !important;
        font-size:12px !important;
    }
    .container>.navbar-collapse{
        height:100px !important;
    }
    .container>.navbar-collapse{
        height: 100px!important;
    }
}
@media only screen and  (min-width: 992px) and (max-width: 1199px) {
    .navbar-default .navbar-brand {
        top: 3rem !important;
    }
    .navbar-brand {
        position: relative !important;
        left: 1rem !important;
        height: 150px !important;
    }
    .nav-menu{
        top: -5rem!important;
        left:7rem !important;
        font-size:15px !important;
    }
}

.navbar-brand {
    height: 125px;
}

.nav-menu {
    box-sizing: content-box;
    position: relative;
    top: 0rem;
    left: 10rem;
    padding: 10px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-decoration-style: solid;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    margin-left: 50px;
    color: rgb(90, 90, 90);

}

.navbar-default .navbar-nav > li > a:hover {
    color: #c30000;
}

.navbar-collapse.in {
    overflow-y: visible;

}
div#collapsable-nav.navbar-collapse.collapse.in{
    height: 200px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.navbar-default .navbar-brand {
    color: #777;
    position: relative;
    left: -30%;
}

