#logo-img{
    background: url("https://placekitten.com/236/80") no-repeat;
    width: 236px;
    height: 79px;

}

.navbar-brand{
    height: 125px;
}
.nav-menu {
    box-sizing: content-box;
    position: relative;
    top: 3rem;
    padding: 10px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-decoration-style: solid;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: 50px;
    color: rgb(90, 90, 90);

}
.nav-menu>li:hover{
    color:red;
}
.navbar-collapse.in {
    overflow-y: visible;
}